<p>This is another representation of the data:</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>{{ foo }}</tr>
    <tr>{{ bar }}</tr>
  </tbody>
</table>
